.search_box{
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    gap:50px;
  }

  .search_box.search_box-first{
    margin-bottom: 20px;
  }
  
  .search_box> label{
    transform: translateY(5px);
    font-weight: bold;
    letter-spacing: 1px;
  }
  .search_box> input,.search_box>select{
    transition: all .4s;
    width: 30%;
    border:1px solid #e2e2e2;
    border-radius: 5px;
    padding: 2px 10px;
  }
  
  .search_box> input:focus,
  .search_box>select:focus{
    outline-color: rgb(76, 76, 222);
  }